<h1>hola desde Twig</h1>
<p>
<a href="{{path('template_trabajo')}}">Ir a trabajo</a>
</p>
<p>
<a href="{{path('template_parametros', {id:12, slug:'soy-un-slug'})}}">Ir a parametros</a>
</p>
<p>
<a href="{{path('template_layout')}}">Ir a layout</a>
</p>