{% extends 'template/frontend.html.twig' %}

{% block title %}Utilidades{% endblock %}

{% block body %}
<h1>Utilidades</h1>
<ul>
    <li>
        <a href="{{path('utilidades_email')}}">Envio de E-Mail</a>
    </li>
    <li>
        <a href="{{path('utilidades_api_rest')}}">Consumir API con HTTP Client</a>
    </li>
    <li>
        <a href="{{path('utilidades_filesystem')}}">Filesystem Component</a>
    </li>
    <li>
        <a href="{{path('utilidades_pdf')}}">Crear PDF</a>
    </li>
</ul>
{% endblock %}
