{% extends 'template/frontend.html.twig' %}

{% block title %}Doctrine{% endblock %}

{% block body %}
<h1>Doctrine ORM</h1>
<ul>
    <li>
        <a href="">Categorías</a>
    </li>
    <li>
        <a href="">Productos</a>
    </li>
</ul>
{% endblock %}
