{% extends 'template/frontend.html.twig' %}

{% block title %}Utilidades{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{path('home_inicio')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{path('utilidades_inicio')}}">Utilidades</a></li>
    <li class="breadcrumb-item active" aria-current="page">Filesystem Component</li>
  </ol>
</nav>
<h1>Filesystem component</h1>

</div>
{% endblock %}
