<!DOCTYPE html>
<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>PDF ejemplo</title>
	</head>
	<body>
		<div style="margin:0 auto;display: block; width: 500px;">
			<h1>Titulo</h1>
			<table width="100%" border="1">
				<tr>
					<td colspan="2">
						<img src="{{imageSrc}}" style="width:200px;">
					</td>
				</tr>
				<tr>
					<td>
						Nombre:
					</td>
					<td>
						{{nombre}}
					</td>
				</tr>
				<tr>
					<td>
						País:
					</td>
					<td>
						{{pais}}
					</td>
				</tr>
				<tr>
					<td>
						Teléfono:
					</td>
					<td>
						{{telefono}}
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>