{% extends 'template/frontend.html.twig' %}

{% block title %}Utilidades{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{path('home_inicio')}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Helper</li>
  </ol>
</nav>
<h1>Helper</h1>

<p>{{saludo}}</p>
<p>{{saludo2}}</p>

</div>
{% endblock %}
